apiVersion: apps/v1
kind: Deployment

metadata:
  name: myapp

spec:
  template:
    spec:
      containers:
        - name: myapp
          env:
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  key: password
                  name: myapp-db-creds
          resources:
            requests:
              cpu: 200m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
