apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cnpg-system

resources:
  - cloudnative-pg-manifest.yaml
#  - cloudnative-pg-plugin-barman-cloud-manifest.yaml

commonAnnotations:
  argocd.argoproj.io/sync-wave: '4'

patches:
  - target:
      kind: Deployment
      name: cnpg-controller-manager
    patch: |-
      - op: add
        path: /metadata/annotations/argocd.argoproj.io~1sync-options
        value: Replace=true,Force=true
