apiVersion: apps/v1
kind: Deployment

metadata:
  name: myapp-app
  labels:
    app.kubernetes.io/version: '2.0.0'

spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: app
          env:
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  key: password
                  name: myapp-db-creds
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
