apiVersion: batch/v1
kind: Job

metadata:
  name: myapp-migrate
  annotations:
    argocd.argoproj.io/sync-wave: '1'
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
  labels:
    app.kubernetes.io/name: myapp
    app.kubernetes.io/component: schema-migration
    app.kubernetes.io/version: '2.0.0'

spec:
  backoffLimit: 6
  ttlSecondsAfterFinished: 600
  template:
    metadata:
      labels:
        app.kubernetes.io/name: myapp
        app.kubernetes.io/component: schema-migration
    spec:
      serviceAccountName: myapp-sa
      securityContext:
        runAsNonRoot: true
        seccompProfile: { type: RuntimeDefault }
      containers:
        - name: migrate
          image: learningcloudnativego/myapp-app:2.0.0
          command: [ /myapp/migrate ]
          args: [ up ]
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
          envFrom:
            - configMapRef:
                name: myapp-config
          env:
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  key: password
                  name: myapp-db-creds
      restartPolicy: OnFailure
