apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: myapp-dev
labels:
  - pairs:
      app.kubernetes.io/instance: myapp-dev
    includeSelectors: true
    includeTemplates: true

resources:
  - namespace.yaml
  - ../../../base/myapp

components:
  - ../../../../components/myapp-db

configMapGenerator:
  - name: myapp-config
    behavior: merge
    literals:
      - DB_HOST=myapp-db-rw
      - DB_NAME=myapp_db
      - DB_USER=myapp_user
      - DB_DEBUG=true

secretGenerator:
  - name: myapp-db-creds
    type: kubernetes.io/basic-auth
    options:
      disableNameSuffixHash: true
    literals:
      - username=myapp_user
      - password=dev_pass_123

images:
  - name: learningcloudnativego/myapp-app
    newTag: 2.0.0

patches:
  - path: patches/db-cluster.yaml
  - path: patches/deployment.yaml
  - path: patches/http-route.yaml
    target:
      kind: HTTPRoute
      name: myapp-route
