apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namePrefix: stage-

resources:
  - namespace.yaml
  - ../../../base/myapp

components:
  - ../../../../components/myapp-db

# 1. Image override
images:
  - name: myapp
    newName: learningcloudnativego/myapp-app
    newTag: 0.0.1

# 2. Database & Config overrides
configMapGenerator:
  - name: myapp-config
    behavior: merge
    literals:
      - DB_HOST="stage-myapp-db-rw"
      - DB_NAME="stage-myapp-db"
      - DB_USER="stage-myapp-user"

secretGenerator:
  - name: myapp-secret
    behavior: merge
    literals:
      - DB_PASS="stage-myapp-pass"

# 3. Resource Limits override (using a patch)
patches:
  - target:
      group: postgresql.cnpg.io
      version: v1
      kind: Cluster
      name: myapp-db
    patch: |-
      - op: replace
        path: /spec/bootstrap/initdb
        value:
          database: stage-myapp-db
          owner: stage-myapp-user
          secret:
            name: stage-myapp-pass
      - op: replace
        path: /spec/instances
        value: 3
      - op: replace
        path: /spec/storage/size
        value: 5Gi

  - target:
      kind: Deployment
      name: myapp
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            memory: "32Mi"
            cpu: "100m"
          limits:
            memory: "64Mi"
            cpu: "200m"