name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      GOEXPERIMENT: jsonv2

    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.26.0-rc.2'

      - name: Checkout code
        uses: actions/checkout@v4

      - name: go mod package cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Upload OpenAPI specifications to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ github.token }}
          file: openapi-v3.yml
          asset_name: myapp-${{ github.ref_name }}.openapi-v3.yaml
          tag: ${{ github.ref }}

      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/learning-cloud-native-go/myapp

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          file: ./prod.Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/learning-cloud-native-go/myapp:latest
            ghcr.io/learning-cloud-native-go/myapp:${{ github.ref_name }}
          labels: ${{ steps.meta.outputs.labels }}
