name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.x

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: learning-cloud-native-go/myapp

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          file: ./prod.Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: |
            learning-cloud-native-go/myapp:latest
            learning-cloud-native-go/myapp:${{github.ref_name}}
          labels: ${{ steps.meta.outputs.labels }}